<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>News Story Template</title>
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton|Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Forum&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Scheherazade&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oranienbaum&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e2c53b87fa.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

</head>
<body>


<header id="news-site-header" class="top-bar">
      <div class="safe-area">

        <div class="visible-header">
          <div class="hamburger">
            <!-- <button v-on:click="toggleTheHamburgerMenu()">hamburger</button> -->
            <div class="ham" v-on:click="toggleTheHamburgerMenu()"><i class="fas fa-bars fa-2x"></i></div>
          </div>

          <div class="branding">
            <div class="site-name">TheBubble</div>
            
          </div>

          <nav class="account-nav">
            SIGN IN
          </nav>
        </div>

        <div class="menu-container" v-bind:class="{ 'menu-is-open': menuIsOpen }">
          <nav>
            <ul class="top-nav">
              <li class="expandable">
                <a href="#">News</a>
                <ul>
                  <li>
                <a href="#">Headlines</a>
              </li>
              <li>
                <a href="#">Elections</a>
              </li>
              <li>
                <a href="#">Climate Change</a>
              </li>
              <li>
                <a href="#">Economy</a>
              </li>
                </ul>
              </li>
              <li class="expandable">
                <a href="#">Entertainment</a>
                <ul>
                  <li>
                <a href="#">Films</a>
              </li>
              <li>
                <a href="#">Music</a>
              </li>
              <li>
                <a href="#">Games</a>
              </li>
                </ul>
              </li>
              <li class="expandable">
                <a href="#">Sports</a>
                <ul>
                  <li>
                <a href="#">Basketball</a>
              </li>
              <li>
                <a href="#">Football</a>
              </li>
              <li>
                <a href="#">Soccer</a>
              </li>
              <li>
                <a href="#">Hockey</a>
              </li>
                </ul>
              </li>
              <li class="expandable">
                <a href="#">Lifestyle</a>
                <ul>
                  <li>
                <a href="#">Beauty</a>
              </li>
              <li>
                <a href="#">Fashion</a>
              </li>
              <li>
                <a href="#">Interior Design</a>
              </li>
              <li>
                <a href="#">Culture</a>
              </li>
                </ul>
              </li>
              <li class="expandable">
                <a href="#">Entertainment</a>
                <ul>
                  <li>
                <a href="#">Films</a>
              </li>
              <li>
                <a href="#">Music</a>
              </li>
              <li>
                <a href="#">Games</a>
              </li>
                </ul>
              </li>
              <li class="expandable">
                <a href="#">World</a>
                <ul>
                  <li>
                <a href="#">Headlines</a>
              </li>
              <li>
                <a href="#">Stock Market</a>
              </li>
              <li>
                <a href="#">Travel</a>
              </li>
              <li>
                <a href="#">Culture</a>
              </li>
                </ul>
              </li>
              <li class="expandable">
                <a href="#">Videos</a>
                <ul>
                  <li>
                <a href="#">Documentaries</a>
              </li>
              <li>
                <a href="#">Interviews</a>
              </li>
              <li>
                <a href="#">Clips</a>
              </li>
              <li>
                <a href="#">Advertisements</a>
              </li>
                </ul>
              </li>
              <!-- <li class="expandable">
                <a href="#">Coupons</a>
                <ul>
                  <li>
                <a href="#">Food</a>
              </li>
              <li>
                <a href="#">Auto</a>
              </li>
              <li>
                <a href="#">Insurance</a>
              </li>
                </ul>
              </li> -->
            </ul>
          </nav>
        </div>

      </div>
    </header>



  <!-- Main Story -->
  <div id="news-template" v-cloak>
<div class="top-space"></div>
    <h1>{{ story.title }}</h1> 
    <h2>{{ story.subtitle }}</h2>

    <header class="component">
      <img v-bind:src="story.image.url" class="main-image">
      <div class="safe-area">


      </div>

    </header>

    <main>
      <a v-bind:href="story.source.url" class="source-name">{{ story.source.name }}</a> <hr>
      <div class="caption">{{ story.image.caption }}</div>

      <h3>{{ story.date }}</h3>

      <h5>By Michelle Smith</h5>
      <i class="fab fa-facebook-f fa-2x"></i>
      <i class="fab fa-twitter fa-2x"></i>

    </section>
    <hr>
    <span v-html="story.teaser" class="teaser"></span>
    <hr>
  </section>
</section>
<span v-html="story.content" class="content"></span>
</section>
<span v-for="tag in story.tags" class="tags">{{ tag }}</span>
</main>

<!-- Related Stories-->
<h4>Related Stories</h4>


<div class="divider">

  <ul class="related-stories" >

    <li v-for="relatedStory in relatedStories" class="related-story">

      <div class="related-story-title">

        {{ relatedStory.title }}

      </div>

      <div class="thumbnail">

        <img v-bind:src="relatedStory.image.url">

      </div>

    </li>

  </ul>

</div>



</div>



<br>
<footer class="footer">
<div class="safe-area">

  <div class="project">
    TheBubble is a mock News Site created for Layout Systems in the spring of 2020. All content featured belongs to NewsAPI.org.
  </div>

  <div class="footer-items">
    <p>About Us</p>
    <p>Copyright</p>
    <p>Terms of Agreement</p>
    <p>License</p>
    <p>Careers</p>
    <p>Contact Us</p>
  </div>

</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://abesiemsen.github.io/layout2020spring-resources/projects/news-story-template/data.js"></script>

<script>
      new Vue({
        el: '#news-site-header',
        data: {
          menuIsOpen: false
        },
        methods: {
          toggleTheHamburgerMenu: function() {
            this.menuIsOpen = !this.menuIsOpen
          }
        }
      })
    </script>

    <!-- Script that adds 'expandable' capability for sub-menus. -->
    <script>
      
      var expandables = document.getElementsByClassName('expandable');
      
      for (let expandable of expandables) {
        let triggerElement = expandable.querySelector('a');
        triggerElement.addEventListener('click', function(event) {
          event.preventDefault();
          closeAllExcept(expandable);
          expandable.classList.toggle('expanded');
        })
      }

      function closeAllExcept(clickedExpandable) {
        for (let expandable of expandables) {
          if (expandable !== clickedExpandable) {
            expandable.classList.remove('expanded')
          }
        }
      }

    </script>

</body>
</html>

